APP_IMAGE=nguyenminh079/diabetes-predict-system:latest

DJANGO_SECRET_KEY=change-me-for-real-deployments
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,django
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

DATABASE_URL=
PGHOST=
PGDATABASE=
PGUSER=
PGPASSWORD=
PGPORT=5432
PGSSLMODE=require
DB_CONN_MAX_AGE=60
SQLITE_PATH=/app/runtime/db.sqlite3

MLFLOW_TRACKING_URI=sqlite:////app/runtime/mlflow.db
MLFLOW_ARTIFACT_ROOT=/app/mlruns
MLFLOW_TRACKING_USERNAME=
MLFLOW_TRACKING_PASSWORD=

DVC_PULL=False
DVC_REMOTE=origin
DVC_NO_ANALYTICS=True
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

RESET_DATABASE_ON_START=False
RUN_MIGRATIONS=True
RUN_COLLECTSTATIC=False
DJANGO_CREATE_SUPERUSER=True
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=1
DJANGO_SUPERUSER_EMAIL=admin@example.com

MLFLOW_AUTO_START=False
