{% load static %}

<!DOCTYPE html>

<html lang="vi">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    {% block title %}{% endblock %}

    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap" rel="stylesheet"/>
    <!-- Tailwind CSS with custom configuration -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script src="{% static 'js/tailwind-config.js' %}"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

    {% block css %}{% endblock %}
</head>

{% block content %}{% endblock %}

{% block js %}{% endblock %}